chotot-browser-agent/backend-java/.idea/vcs.xml
chotot-browser-agent/backend-java/.idea/compiler.xml
chotot-browser-agent/backend-java/.idea/encodings.xml
chotot-browser-agent/backend-java/.idea/compiler.xml
chotot-browser-agent/backend-java/target/
chotot-browser-agent/backend-java/target/*
chotot-browser-agent/backend-java/.idea/*
